[tool.pytest.ini_options]
minversion = "7.0"
addopts = "-ra"

[tool.ruff]
line-length = 120
src = ["src"]

[tool.ruff.lint]
select = ["E", "F", "I"]  # E=pycodestyle, F=pyflakes, I=isort

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
line-ending = "lf"
